.completed__work {
  width: 1830px;
  height: 900px;
  background-color: #f8f8f8;
  .completed-work__content {
    position: relative;
    top: -800px;
  }
  .completed-work__title {
    position: relative;
    text-align: center;
    left: 500px;
    width: 830px;
    font-family: Poppins_medium;
    font-weight: 500;
    font-size: 48px;
  }
  .completed-work__content-item1 {
    position: relative;
    width: 180px;
    height: 180px;
    left: 300px;
    top: 100px;
    border-radius: 30px 0 30px 0;
    background: #fff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    &:hover {
      transform: scale(1.03);
    }
  }
  .completed-work__content-item2 {
    position: relative;
    width: 180px;
    height: 180px;
    left: 600px;
    top: 170px;
    border-radius: 30px 0 30px 0;
    background: #fff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    &:hover {
      transform: scale(1.03);
    }
  }
  .completed-work__content-item3 {
    position: relative;
    width: 180px;
    height: 180px;
    left: 900px;
    top: -260px;
    border-radius: 30px 0 30px 0;
    background: #fff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    &:hover {
      transform: scale(1.03);
    }
  }
  .completed-work__content-item4 {
    position: relative;
    width: 180px;
    height: 180px;
    left: 1200px;
    top: -180px;
    border-radius: 30px 0 30px 0;
    background: #fff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    &:hover {
      transform: scale(1.03);
    }
  }
  .completed-work__content-number1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20px;
    font-size: 40px;
    font-weight: 700;
  }
  .completed-work__content-number2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20px;
    font-size: 40px;
    font-weight: 700;
  }
  .completed-work__content-number3 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20px;
    font-size: 40px;
    font-weight: 700;
  }
  .completed-work__content-number4 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 30px;
    font-size: 40px;
    font-weight: 700;
  }
  .completed-work__content-title1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10px;
    font-size: 30px;
    font-weight: 300;
  }
  .completed-work__content-title2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10px;
    font-size: 30px;
    font-weight: 300;
  }
  .completed-work__content-title3 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10px;
    font-size: 30px;
    font-weight: 300;
  }
  .completed-work__content-title4 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10px;
    font-size: 30px;
    font-weight: 300;
  }
  .decore-1 {
    position: relative;
    left: 463px;
    top: 1070px;
    width: 70px;
    height: 150px;
    border-top: 3px solid #868686;
    border-right: 3px solid #868686;
    &:hover {
      border-bottom: 3px solid #868686;
      border-left: 3px solid #868686;
      border-top: 0;
      border-right: 0;
    }
  }
  .decore-2 {
    position: relative;
    left: 530px;
    top: 1067px;
    width: 70px;
    height: 150px;
    border-bottom: 3px solid #868686;
    border-left: 3px solid #868686;
    &:hover {
      border-bottom: 0;
      border-left: 0;
      border-top: 3px solid #868686;
      border-right: 3px solid #868686;
    }
  }
  .decore-3 {
    position: relative;
    left: 783px;
    top: 930px;
    width: 70px;
    height: 150px;
    border-bottom: 3px solid #868686;
    border-right: 3px solid #868686;
    &:hover {
      border-left: 3px solid #868686;
      border-top: 3px solid #868686;
      border-right: 0;
      border-bottom: 0;
    }
  }
  .decore-4 {
    position: relative;
    left: 850px;
    top: 632px;
    width: 70px;
    height: 150px;
    border-top: 3px solid #868686;
    border-left: 3px solid #868686;
    &:hover {
      border-bottom: 3px solid #868686;
      border-left: 0;
      border-top: 0;
      border-right: 3px solid #868686;
    }
  }
  .decore-5 {
    position: relative;
    left: 1063px;
    top: 480px;
    width: 70px;
    height: 150px;
    border-top: 3px solid #868686;
    border-right: 3px solid #868686;
    &:hover {
      border-bottom: 3px solid #868686;
      border-left: 3px solid #868686;
      border-top: 0;
      border-right: 0;
    }
  }
  .decore-6 {
    position: relative;
    left: 1130px;
    top: 480px;
    width: 70px;
    height: 150px;
    border-bottom: 3px solid #868686;
    border-left: 3px solid #868686;
    &:hover {
      border-bottom: 0;
      border-left: 0;
      border-top: 3px solid #868686;
      border-right: 3px solid #868686;
    }
  }
}
