.intro {
  position: relative;
  top: 50px;
  height: 720px;
  width: 1513px;
  left: 148px;

  .intro_h3 {
    position: relative;
    width: 510px;
    height: 30px;
    left: 100px;
    top: 100px;
    font-family: "Open__Sans_semibold";
    // font-style: normal;
    // font-weight: 700;
    font-size: 20px;
    //line-height: 30px;
    text-transform: uppercase;
    color: #646464;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  .intro_h1 {
    position: relative;
    margin-top: 0;
    width: 645px;
    height: 267px;
    left: 95px;
    top: 95px;
    font-family: "Poppins_semibold";
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 89px;
    -webkit-text-stroke: 2px black;
    color: #212121;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  .intro_p {
    position: absolute;
    width: 650px;
    height: 90px;
    left: 100px;
    top: 338px;
    font-family: "Open__Sans_regular";
    font-weight: 200;
    font-size: 18px;
    line-height: 30px;
    color: #646464;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  .intro_button {
    position: absolute;
    width: 117px;
    height: 23px;
    left: 100px;
    top: 501px;
    font-family: "Open__Sans_semibold";
    font-style: normal;

    font-size: 18px;

    text-align: center;
    color: #ffffff;
    position: absolute;
    width: 120px;
    height: 40px;
    border-radius: 20px 0 20px 0;
    background: #37806b;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    text-transform: uppercase;

    border: none;
  }
  // .intro_img {
  //   position: relative;
  //   left: 750px;
  //   top: -350px;
  //   border-radius: 120px 0 120px 0;
  //   // border: 3px solid #b0855b;
  //   border-image-outset: 40px;
  // }
  // .intro_border_img {
  //   position: relative;
  //   z-index: -1;
  //   left: 70px;
  //   top: -300px;
  // }
  .intro__img_cover {
    position: relative;
    top: -350px;
    margin-left: 745px;
    border-radius: 120px 0 120px 0;
    &::after {
      content: "";
      position: absolute;
      right: 15px;
      bottom: -33px;
      display: block;
      width: 90%;
      height: 100%;
      border: 2px solid #b0855b;
      border-radius: 140px 0px;
      z-index: -1;
    }
  }
  .intro__img {
    width: 715px;
    height: 613px;
    border-radius: 140px 0px;
  }
}
