.service {
  margin-top: 50px;
  position: relative;
  height: 764px;
  width: 1613px;
  left: 148px;
  .service_h3 {
    position: relative;
    width: 410px;
    height: 30px;
    left: 100px;
    top: -10px;
    font-family: "Open__Sans_semibold";
    // font-style: normal;
    font-weight: 600;
    font-size: 20px;
    //line-height: 30px;
    text-transform: uppercase;
    color: #646464;
  }
  .service_h2 {
    position: relative;
    width: 645px;
    height: 167px;
    font-family: "Poppins_medium";
    font-style: normal;
    left: 100px;
    font-weight: 500;
    font-size: 48px;
    line-height: 89px;
    top: -25px;

    color: #212121;

    // filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  .service__container {
    position: relative;
    top: -100px;
    left: 200px;
    width: 1100px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    left: 100px;
  }
  .service__button {
    font-family: Open__Sans_bold;
    font-size: 16px;
    font-weight: 500;
    border-radius: 20px 20px;
    background: #37806b;
    text-transform: uppercase;
    width: 205px;
    height: 45px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    border: 5px solid #37806b;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .service__button:focus {
    background: #fff;
    border: 5px solid #37806b;
    border-radius: 20px;
    color: #37806b;
    border-style: solid;
    position: relative;
  }

  .service__details__container {
    display: flex;
    flex-wrap: wrap;
  }
  .service__details {
    flex-basis: calc(33.33% - 20px);
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;

    position: relative;
    font-family: "Open__Sans_semibold";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

    text-align: center;
    color: #000;
    border-radius: 80px 0 80px 0;
    background: #fff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    text-transform: uppercase;

    border: none;
  }
}
